[user]
	name = Daniel Gerlach
	email = daniel.gerlach1981@googlemail.com
[color]
	ui = auto
[mergetool]
	keepBackup = false
[credential]
	helper = cache --timeout=36000
[credential "https://github.com"]
	username = gerlacdt
	
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[init]
	defaultBranch = main
